<ion-view hide-back-button="false">
  <ion-nav-title>
    <div class="bar bar-header">
      <h1 class="title">About</h1>
    </div>
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <h2>Hostels</h2>
      </div>
      <div class="item item-text-wrap">
        <p>
          Hostel Xplora is an initiative of the Department of Land Economy-KNUST to help students find and decide on their hostel accomodation needs in a timely, simple and easy way, by providing up-to-date information on a digital platform. The app also comes with Google provided maps of the KNUST community to help with easy navigation to and from the hostels. Concerns and contributions concerning the app can be forwarded to ngene84@gmail.com
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <h2>Open Source Softwares</h2>
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Ionic Framework</li>
          <li class="item">Nodejs</li>
          <li class="item">Cordova</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <h2>Developed by: </h2>
      </div>
      <div class="item item-text-wrap">
        <p>@ngenerio, Ngenerio Softwware</p>
      </div>
    </div>
  </ion-content>
</ion-view>
