<ion-view>
  <ion-nav-title>
    <div class="bar bar-header">
      <h1 class="title">{{hostel.displayName}}</h1>
    </div>
  </ion-nav-title>
  <ion-content>
    <div class="card calm-color">
      <div class="item calm-color view-map" ng-click="goToMap($event)">
        <h2>Click to view map</h2>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider calm-color">
        <h2>{{hostel.displayName}}</h2>
        <p>
          <i class="icon ion-location"></i>
          {{hostel.location}}
        </p>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="img/{{hostel.imageSrc}}">
        <h3>Information</h3>
        <p>
        {{hostel.information}}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider calm-color">
        <h3>Room Comments</h3>
      </div>
      <div class="item item-text-wrap">
        <p>{{hostel.comments}}</p>
      </div>
    </div>
    <div class="card" ng-if="hostel.prices.previous">
      <div class="item item-divider calm-color">
        <h3>Previous Pricing</h3>
      </div>
      <div class="item item-text-wrap" ng-if="hostel.prices.previous.one">
        <h3>One in a room</h3>
        <p>{{hostel.prices.previous.one | currency:"GH₵"}}</p>
      </div>
      <div class="item item-text-wrap" ng-if="hostel.prices.previous.two">
        <h3>Two in a room</h3>
        <p>{{hostel.prices.previous.two | currency:"GH₵"}} each</p>
      </div>
      <div class="item item-text-wrap" ng-if="hostel.prices.previous.three">
        <h3>Three in a room</h3>
        <p>{{hostel.prices.previous.three | currency:"GH₵"}} each</p>
      </div>
      <div class="item item-text-wrap" ng-if="hostel.prices.previous.four">
        <h3>Four in a room</h3>
        <p>{{hostel.prices.previous.four | currency:"GH₵"}} each</p>
      </div>
    </div>
    <div class="card" ng-if="hostel.prices.current">
      <div class="item item-divider calm-color">
        <h3>Current Pricing</h3>
      </div>
      <div class="item item-text-wrap" ng-if="hostel.prices.current.one">
        <h3>One in a room</h3>
        <p>{{hostel.prices.current.one | currency:"GH₵"}}</p>
      </div>
      <div class="item item-text-wrap" ng-if="hostel.prices.current.two">
        <h3>Two in a room</h3>
        <p>{{hostel.prices.current.two | currency:"GH₵"}} each</p>
      </div>
      <div class="item item-text-wrap" ng-if="hostel.prices.current.three">
        <h3>Three in a room</h3>
        <p>{{hostel.prices.current.three | currency:"GH₵"}} each</p>
      </div>
      <div class="item item-text-wrap" ng-if="hostel.prices.current.four">
        <h3>Four in a room</h3>
        <p>{{hostel.prices.current.four | currency:"GH₵"}} each</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider calm-color">
        <h3>Facilities</h3>
      </div>
      <div class="item item-text-wrap" ng-repeat="fac in hostel.facilities">
        <p>{{fac}}</p>
      </div>
    </div>
    <div class="card" ng-if="hostel.contacts.length">
      <div class="item item-divider calm-color">
        <h3>Contacts</h3>
      </div>
      <div class="item item-text-wrap" ng-repeat="contact in hostel.contacts">
        <p><a href="tel:{{contact}}">{{contact}}</a></p>
      </div>
    </div>
    <!-- <div class="card" ng-if="nearByHostels.length">
      <div class="item item-divider calm-color">
        <h3>Other hostels in {{hostel.location}}</h3>
      </div>
      <ion-list>
        <ion-item
          ng-repeat="nearBy in nearByHostels"
          type="item-text-wrap"
          ng-click="navigateToNearByHostel(nearby.id, $event)">
          <p>{{nearBy.displayName}}</p>
        </ion-item>
      </ion-list>
    </div> -->
  </ion-content>
</ion-view>
