<ion-view>
  <ion-nav-title>
    <div class="bar bar-header">
      <h1 class="title">Hostels</h1>
    </div>
  </ion-nav-title>
  <ion-content delegate-handle="mainScroll">
    <ion-list>
      <ion-item
        ng-repeat="hostel in hostels"
        class="item-thumbnail-left hostel-item"
        type="item-text-wrap"
        ng-click="goToHostel(hostel.id, $event)"
        style="min-height: 85px">
        <img ng-src="img/{{hostel.imageSrc}}" style="height: 60px">
        <h2>{{hostel.displayName}}</h2>
        <p><i class="icon ion-location"></i> {{hostel.location}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
