<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">Select Location</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <ion-radio ng-repeat="location in locations" ng-model="currentLocation.value" ng-value="location.name" ng-change="locationChanged()">{{location.name}}</ion-radio>
    </div>
  </ion-content>
</ion-popover-view>
