<ion-view>
  <ion-nav-title>
    <div class="bar bar-header">
      <h1 class="title title-header">Map</h1>
    </div>
  </ion-nav-title>
  <ion-content>
    <div class="map-canvas" id="map-container" ng-show="showMap"></div>
  </ion-content>
</ion-view>
