<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-back"></i>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="secondary">
        <a class="button button-icon button-clear ion-ios7-search" href="#/app/search"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="app-hostels"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click="navigate('hostels', $event)">
          <i class="icon ion-ios7-home"></i>
          Home
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click="navigate('search', $event)">
          <i class="icon ion-ios7-search"></i>
          Search
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click="navigate('about', $event)">
          <i class="icon ion-ios7-information"></i>
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
