<ion-view>
  <ion-nav-buttons side="secondary">
    <i class="button button-icon button-clear ion-ios7-search" style="display: none !important"></i>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="query.displayName" ng-change="queryChanged(query)" placeholder="Search">
      </label>
    </div>
  </ion-nav-title>
  <ion-content>
    <div class="card calm-color">
      <div class="item calm-color view-map" ng-click="openPopover($event)">
        <h2>Filter by : {{currentLocation.value}}</h2>
      </div>
    </div>
    <ion-list>
      <ion-item
        ng-repeat="hostel in hostels | filter:query"
        class="item-thumbnail-left"
        type="item-text-wrap"
        ng-click="goToHostel(hostel.id, $event)"
        style="min-height: 85px">
        <img src="img/{{hostel.imageSrc}}" style="height: 60px; border-radius: 5px">
        <h2>{{hostel.displayName}}</h2>
        <p><i class="icon ion-location"></i> {{hostel.location}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
