/* Empty. Add your own CSS if you like */
.map-canvas {
  width: 100%;
  border-bottom: 1px solid #444;
  -webkit-transition: 0.5s ease-in all;
  transition: 0.5s ease-in all;
}
.calm-color {
  background-color: #11c1f3;
}
.calm-color h3, .calm-color h2 {
  color: white;
}
.view-map {
  color: white;
}
.loading-container .loading {
  background-color: rgba(0, 0, 0, 0.0);
}
.spinner {
  width: 60px;
  height: 60px;
  margin-top: auto;
  margin-left: auto;
  background-color: #33cd5f;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
.view-map {
  text-align: center;
}
.item.hostel-item img{
  border-radius: 5px;
}
